/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


s|List
{
	fontFamily: "Palatino Linotype";
	fontSize: 14;
	textAlign: center;
	
	
	
}
s|ActionBar
{
	titleAlign: center;
	fontSize: 14;
}
global
{
	fontFamily: 'Palatino Linotype';
	font-size: 15;
}

s|Image
{
	cornerRadius:5;
	
}

	